# dependencies
/node_modules

# environment variables
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# runtime data
pids
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# coverage reports or build outputs (if any)
/dist
/coverage
